.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f6f6f6;
  }
  
  .login-box {
    background: white;
    padding: 40px;
    border-radius: 30px;
    width: 400px;
    border: 1px solid #ccc;
    text-align: center;
  }
  
  .login-box h1 {
    color: #f48023;
    margin-top: 15px;
    margin-bottom: 5px;
    text-align: left;
    font-family: poppins;
    font-weight: 600;
    font-size: 30px;
  }
  
  .login-box h2 {
    color: #333;
    margin-bottom: 50px;
    text-align: left;
    font-family: poppins;
    font-weight: 400;
    font-size: 16px;
  }

  .login-box  p {
    color: red;
    margin-bottom: 6px;
    justify-content: center;
    text-align: center;
    font-family: poppins;
    font-weight: 400;
    font-size: 16px;
  }
  
  .login-box form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 15px;
  }
  
  .login-box label {
    margin-bottom: 10px;
    color: #555;
  }
  
  .login-box input {
    width: 100%;
    padding: 10px;
    margin-bottom: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    
  }
  
  .login-box button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    margin-left: 10px;
    background-color: #f48023;
    border: none;
    border-radius: 15px;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  
  .login-box button:hover {
    background-color: #e0721e;
  }
  